::ng-deep .mat-form-field-label {
    color: black !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: black;
}

::ng-deep .mat-form-field-outline .mat-focused {
    color: black;
}

//mat-input focused color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: black!important;
}

.my-card {
    background-color: green;
    transition: transform .2s;
}

.my-card:hover {
    transform: scale(1.1);
    font-weight: 900;
}
